.nav {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 170px;
}

.controls {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 20px;
  align-items: center;
}
