node_modules
.env

# Hardhat files
cache
# Keep artifacts for use with client app
artifacts/
!artifacts/contracts
!artifacts/contracts/
!artifacts/contracts/*
!artifacts/contracts/**/*
abi

# IDE files
.idea
